
@model List<OdeToFood.Models.Product>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Inventory System</title>
</head>
<body>
    <h1>Inventory System</h1>
    <table border="1" align="center" cellpadding="5" cellspacing="0">
        <tr>
            <td><b>Product Name</b></td>
            <td><b>Product Price</b></td>
            <td><b>Product Quantity</b></td>
            <td><b>Product Type</b></td>
        </tr>
        @foreach (var prod in Model)
        {
        <tr>
            <td>@prod.Name</td>
            <td>@prod.Price</td>
            <td>@prod.Quantity</td>
            <td>@prod.Type</td>
            <td><input type="button" name="Edititem" value="Edit Item" onclick="location.href = '@Url.Action("Edit", "Home",new { name = prod.Name })'" /></td>
            <td><input type="button" name="Deleteitem" value="Delete Item" onclick="location.href = '@Url.Action("Delete", "Home",new { name = prod.Name })'" /></td>

        </tr>
        }
        
    </table>
    <br />
    <div style="align-content:center"> <input type="button" name="Additem" value="Add Item" onclick="location.href = '@Url.Action("Add", "Home")'" /></div>
   
    </body>
</html>